[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
matplotlib = "*"
numpy = "*"
ipython = "*"
scipy = "*"
pynvim = "*"
psutil = "*"
pytest = "*"
ipdb = "*"
sklearn = "*"

[requires]
python_version = "3.8"
